<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="author" content="Ming Zhong">
  <meta name="description" content="Ming Zhong's Blogs">
  <title>{{ page.title }}</title>
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/milligram.min.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/syntax.css">
</head>